[submodule "submodules/libsusi"]
	path = submodules/libsusi
	url = https://github.com/SUSIproject/libsusi
[submodule "submodules/libbcrypt"]
	path = submodules/libbcrypt
	url = https://github.com/trusch/libbcrypt
